<h1>ユーザー側　質問一覧画面</h1>
<div class="search-form">
    <%= form_with url: public_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
    <% end %>
</div>    
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ユーザ名</th>
                <th>ジャンル</th>
                <th>タイトル</th>
                <th>質問内容</th>
                <th>質問ステータス</th>
                <th>日付</th>
            </tr>
        </thead>
        <% @questions.each do |question| %>
        <tbody>
            <tr>
                <td><%= question.user.name %></td>
                <td><%= question.genre.name %></td>
                <td><%= question.title %></td>
                <td><%= markdown(question.body).html_safe %></td>
                <td><%= question.question_status.status %></td>
                <td><%= question.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div>