
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
       <table class="table">
         <tr>
           <td>タイトル</td>
           <td><%= @question.title %></td>
         </tr>
         <tr>
           <td>質問内容</td>
           <td><%= markdown(@question.body).html_safe %></td>
         </tr>
         <tr>
           <td>技術項目</td>
           <td><%= @question.genre.name %></td>
         </tr>
         <tr>
          <td>質問ステータス</td>
          <td><%= @question.question_status.status %></td>
         </tr>
       </table>
       <%= link_to "編集", edit_public_question_path(@question.id),class:"btn btn-success btn-sm btn-block" %>
    </div>
    <div class="col-6">
   　　　 <%= form_with(model:[@question, @answer], url: public_question_answers_path(@question.id), local: true) do |f| %>
    　　　<%= f.text_area :answer, :size=>"70x13", :placeholder => "マークダウン記法を使い回答を入力してください" %>
   　　　　 <%= f.submit "送信する", class:"btn btn-info btn-lg btn-block" %>
   　　　 <% end %>
    </div>

    <div class="row">
      <h3>回答数：<%= @question.answers.count %></h3>
      <% @question.answers.each do |answer| %>
      <table class="table">
        <tr>
          <td>ユーザー名</td>
          <td><%= answer.user.name %></td>
        </tr>
        <tr>
         <td>回答内容</td>
         <td><%= markdown(answer.answer).html_safe %></td>
        </tr>
        <tr>
          <td>回答日時</td>
          <td><%= answer.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
       </table>
          <% if answer.favorited_by?(current_user) %>
          <p>
           <%= link_to public_question_answer_favorites_path(@question,answer), method: :delete do %>
           👍<%= answer.favorites.count %>いいね
           <% end %>
           </p>
           <% else %>
           <p>
            <%= link_to public_question_answer_favorites_path(@question,answer), method: :post do %>
            〇<%= answer.favorites.count %>いいね
            <% end %>
            </p>
            <% end %>
         </table>
         <% end %>
    </div>

　 </div>
</div>
