<div class="container mt-5">
  <% if @request.errors.any? %>
  <%= @request.errors.count %>件のエラーが発生しました
  <% @request.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>
  <div>
    <h3>下記に入力してください。</h3>
    <%= form_with model: @request, url: public_requests_path, local:true do |f| %>
    <%= f.text_area :request, :size=>"60x17", :placeholder => "ご要望を記入してください" %>
    <p>
    <%= f.submit "送信" %>
    </p>
    <% end %>
  </div>
  <div>
    <%= link_to "履歴", public_requests_path %>
  </div>
</div>
