<div class="container mt-5">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60*60" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", :size => "60*60" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :パスワードを保存 %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in",class:"btn btn-sm btn-warning actions" %>
        </div>
      <% end %>

      <%= render "admins/shared/links" %>
   </div>
  </div>
</div>