
<div class="container mt-5">
  <h1>管理者側　ユーザー一覧画面</h1>
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>氏名</th>
        <th>コメント</th>
        <th>メールアドレス</th>
        <th>レベル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <%= link_to admin_user_path(user.id) do %>
          <%= attachment_image_tag user, :image, size: '50x50', fallback: "no_image.jpg", size: '70x70' %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
        <td><%= user.email %></td>
        <td></td>
        <td><%= user.is_active ? '会員' : '退会' %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>