<div class="container mt-5">
  <h1>管理者側　ユーザー詳細画面</h1>
    <table class="table">
      <tr>
        <td>プロフィール画像</td>
        <td class="image"><%= attachment_image_tag @user, :image, size: '150x150'%></td>
      </tr>
      <tr>
        <td>ユーザー名</td>
        <td> <%= @user.name %></td>
      </tr>
      <tr>
        <td>ユーザーひとこと</td>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <td>ユーザーレベル</td>
        <td>
          <% if @user.experience_point.to_i <= 5 %>
            1
          <% elsif @user.experience_point.to_i >= 5 %>
          <%= @user.experience_point.to_i / 5 %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= @user.is_active ? '会員' : '退会' %></td>
      </tr>
    </table>
</div>