<!DOCTYPE html>
<html>
  <head>
    <title>SEC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <li><%= link_to "SEC", root_path, class:"navbar-brand" %></li>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
               <li><%= link_to "ユーザー", admin_users_path,class:"fas fa-user-friends nav-link text-light" %></li>
               <li><%= link_to "ジャンル", admin_genres_path,class:"fas fa-genderless nav-link text-light" %></li>
               <li><%= link_to "質問ステータス", admin_question_statuses_path,class:"fas fa-question-circle nav-link text-light" %></li>
               <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class:"fas fa-sign-out-alt nav-link text-light" %></li>
              <% elsif user_signed_in? %>
               <li><%= link_to "マイページ", public_user_path(current_user.id),class:"fas fa-user nav-link text-light" %></li>
               <li><%= link_to "質問一覧", public_questions_path,class:"fas fa-question-circle nav-link text-light" %></li>
               <li><%= link_to "ユーザー", public_users_path,class:"fas fa-user-friends nav-link text-light" %></li>
               <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"fas fa-sign-out-alt nav-link text-light" %></li>
              <% else %>
               <li><%= link_to "新規登録", new_user_registration_path,class:"fas fa-user-plus nav-link text-light" %></li>
               <li><%= link_to "ログイン", new_user_session_path,class:"fas fa-sign-in-alt nav-link text-light" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
        
    </footer>


  </body>
</html>
