
<div class="container mt-5">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <h2>新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "60*60" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", :size => "60*60" %>
      </div>

      <div class="field">
        <%= f.label :パスワード再入力 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :size => "60*60" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",class:"btn btn-sm btn-success actions" %>
      </div>
    <% end %>
      <button type="button" class="btn btn-warning">
        <%= render "users/shared/links" %>
      </button>
    </div>
  </div>
</div>